/PRJ-Assigment/nbproject/private/
/PRJ-Assigment/build/
/PRJ-Assigment/dist/
/testPE/nbproject/private/
/testPE/build/
/Q111111/nbproject/private/
/PRJ-Assigment2/PRJ-Assigment/PRJ-Assigment/nbproject/private/
/PRJ-Assigment2/PRJ-Assigment/PRJ-Assigment/build/
/PRJ-Assigment2/PRJ-Assigment/PRJ-Assigment/dist/
